    .hero-lars{
        background:linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/hero-lars.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .inter{
        font-family: Inter;
    }
    .text-justify{
        text-align: justify;
    }
    .hero-text{
        color:whitesmoke;
    }
    .survey-card-image{
        width: 100%;
        height: 176px;
        object-fit: cover;
    }
    .required::after{
    content: " *";
    color: red;
    }
    .navbar-logo{
    width: 10%;
    }
    .navbar-logo-img{
    width: 50%;
    }
    .logo-kemkes{
    width: 10%;
    height: 10%;
    }
    .container-fluid.navigation{
    padding: 0 10%
    }
    .main{
    margin-top: 77px;
    }
    .min-vh-50{
    min-height: 50vh;
    }
    .icon{
    font-size: 6em;
    }
    .daftar-akreditasi,.cek-permohonan{
    padding-bottom: 4em;
    text-align: center;
    }
    #register{
        background:linear-gradient(0deg, rgba(231, 78, 61, 0.85), rgba(231, 78, 61, 0.85)), url('../images/bg-permohonan-akreditasi.jpg');
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
    }

    /* Custom Class */

    /* XS Devices */
    @media (max-width: 575px) {
    .navbar-nav{
    height: 100vh;
    }
    .logo-kemkes{
    width: 40%;
    height: 40%;
    }
    .navbar-logo{
    width: 25%;
    }
    .navbar-logo-img{
    width: 100%;
    }
    }

    /* SM Devices */
    @media (min-width:576px) and (max-width: 767px) {
    .navbar-nav{
    height: 100vh;
    }
    .logo-kemkes{
    width: 30%;
    height: 30%;
    }
    .navbar-logo{
    width: 25%;
    }
    .navbar-logo-img{
    width: 100%;
    }
    }

    /* MD Devices */
    @media (min-width:768px){
    .navbar-logo{
    width: 25%;
    }
    .navbar-logo-img{
    width: 100%;
    }
    }

    /* LG Devices */
    @media (min-width:992px){
    .navbar-logo{
    width: 25%;
    }
    .navbar-logo-img{
    width: 75%;
    }
    }

    /* Desktop */
    @media (min-width:1199px){
    .navbar-logo{
    width: 10%;
    }
    .navbar-logo-img{
    width: 75%;
    }
    }
